In [1]:
!pip3 install langchain_community

Requirement already satisfied: langchain_community in c:\users\suhaa\anaconda3\lib\site-packages (0.3.17)
Requirement already satisfied: langchain-core<1.0.0,>=0.3.34 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (0.3.35)
Requirement already satisfied: langchain<1.0.0,>=0.3.18 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (0.3.19)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (1.4.39)
Requirement already satisfied: requests<3,>=2 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (2.31.0)
Requirement already satisfied: PyYAML>=5.3 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (6.0)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (3.8.5)
Requirement already satisfied: tenacity!=8.4.0,<10,>=8.1.0 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (8.2.2)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (0.6.7)
Requirement already satisfied: pydantic-settings<3.0.0,>=2.4.0 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (2.7.1)
Requirement already satisfied: langsmith<0.4,>=0.1.125 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (0.3.8)
Requirement already satisfied: httpx-sse<1.0.0,>=0.4.0 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (0.4.0)
Requirement already satisfied: numpy<2,>=1.26.4 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain_community) (1.26.4)
Requirement already satisfied: attrs>=17.3.0 in c:\users\suhaa\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (22.1.0)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in c:\users\suhaa\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (2.0.4)
Requirement already satisfied: multidict<7.0,>=4.5 in c:\users\suhaa\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (6.0.2)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in c:\users\suhaa\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in c:\users\suhaa\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.8.1)
Requirement already satisfied: frozenlist>=1.1.1 in c:\users\suhaa\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in c:\users\suhaa\anaconda3\lib\site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.2.0)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in c:\users\suhaa\anaconda3\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (3.26.1)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in c:\users\suhaa\anaconda3\lib\site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (0.9.0)
Requirement already satisfied: langchain-text-splitters<1.0.0,>=0.3.6 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain<1.0.0,>=0.3.18->langchain_community) (0.3.6)
Requirement already satisfied: pydantic<3.0.0,>=2.7.4 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain<1.0.0,>=0.3.18->langchain_community) (2.10.6)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-core<1.0.0,>=0.3.34->langchain_community) (1.33)
Requirement already satisfied: packaging<25,>=23.2 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-core<1.0.0,>=0.3.34->langchain_community) (24.2)
Requirement already satisfied: typing-extensions>=4.7 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-core<1.0.0,>=0.3.34->langchain_community) (4.12.2)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\users\suhaa\anaconda3\lib\site-packages (from langsmith<0.4,>=0.1.125->langchain_community) (0.28.1)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in c:\users\suhaa\anaconda3\lib\site-packages (from langsmith<0.4,>=0.1.125->langchain_community) (3.10.15)
Requirement already satisfied: requests-toolbelt<2.0.0,>=1.0.0 in c:\users\suhaa\anaconda3\lib\site-packages (from langsmith<0.4,>=0.1.125->langchain_community) (1.0.0)
Requirement already satisfied: zstandard<0.24.0,>=0.23.0 in c:\users\suhaa\anaconda3\lib\site-packages (from langsmith<0.4,>=0.1.125->langchain_community) (0.23.0)
Requirement already satisfied: python-dotenv>=0.21.0 in c:\users\suhaa\anaconda3\lib\site-packages (from pydantic-settings<3.0.0,>=2.4.0->langchain_community) (0.21.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\suhaa\anaconda3\lib\site-packages (from requests<3,>=2->langchain_community) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\suhaa\anaconda3\lib\site-packages (from requests<3,>=2->langchain_community) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\suhaa\anaconda3\lib\site-packages (from requests<3,>=2->langchain_community) (2023.11.17)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\suhaa\anaconda3\lib\site-packages (from SQLAlchemy<3,>=1.4->langchain_community) (2.0.1)
Requirement already satisfied: anyio in c:\users\suhaa\anaconda3\lib\site-packages (from httpx<1,>=0.23.0->langsmith<0.4,>=0.1.125->langchain_community) (3.5.0)
Requirement already satisfied: httpcore==1.* in c:\users\suhaa\anaconda3\lib\site-packages (from httpx<1,>=0.23.0->langsmith<0.4,>=0.1.125->langchain_community) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\suhaa\anaconda3\lib\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->langsmith<0.4,>=0.1.125->langchain_community) (0.14.0)
Requirement already satisfied: jsonpointer>=1.9 in c:\users\suhaa\anaconda3\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<1.0.0,>=0.3.34->langchain_community) (2.1)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\suhaa\anaconda3\lib\site-packages (from pydantic<3.0.0,>=2.7.4->langchain<1.0.0,>=0.3.18->langchain_community) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in c:\users\suhaa\anaconda3\lib\site-packages (from pydantic<3.0.0,>=2.7.4->langchain<1.0.0,>=0.3.18->langchain_community) (2.27.2)
Requirement already satisfied: mypy-extensions>=0.3.0 in c:\users\suhaa\anaconda3\lib\site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (1.0.0)
Requirement already satisfied: sniffio>=1.1 in c:\users\suhaa\anaconda3\lib\site-packages (from anyio->httpx<1,>=0.23.0->langsmith<0.4,>=0.1.125->langchain_community) (1.2.0)

In [2]:
pip install -U langchain-ollama

Requirement already satisfied: langchain-ollama in c:\users\suhaa\anaconda3\lib\site-packages (0.2.3)
Requirement already satisfied: langchain-core<0.4.0,>=0.3.33 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-ollama) (0.3.35)
Requirement already satisfied: ollama<1,>=0.4.4 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-ollama) (0.4.7)
Requirement already satisfied: langsmith<0.4,>=0.1.125 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-core<0.4.0,>=0.3.33->langchain-ollama) (0.3.8)
Requirement already satisfied: tenacity!=8.4.0,<10.0.0,>=8.1.0 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-core<0.4.0,>=0.3.33->langchain-ollama) (8.2.2)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-core<0.4.0,>=0.3.33->langchain-ollama) (1.33)
Requirement already satisfied: PyYAML>=5.3 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-core<0.4.0,>=0.3.33->langchain-ollama) (6.0)
Requirement already satisfied: packaging<25,>=23.2 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-core<0.4.0,>=0.3.33->langchain-ollama) (24.2)
Requirement already satisfied: typing-extensions>=4.7 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-core<0.4.0,>=0.3.33->langchain-ollama) (4.12.2)
Requirement already satisfied: pydantic<3.0.0,>=2.5.2 in c:\users\suhaa\anaconda3\lib\site-packages (from langchain-core<0.4.0,>=0.3.33->langchain-ollama) (2.10.6)
Requirement already satisfied: httpx<0.29,>=0.27 in c:\users\suhaa\anaconda3\lib\site-packages (from ollama<1,>=0.4.4->langchain-ollama) (0.28.1)
Requirement already satisfied: anyio in c:\users\suhaa\anaconda3\lib\site-packages (from httpx<0.29,>=0.27->ollama<1,>=0.4.4->langchain-ollama) (3.5.0)
Requirement already satisfied: certifi in c:\users\suhaa\anaconda3\lib\site-packages (from httpx<0.29,>=0.27->ollama<1,>=0.4.4->langchain-ollama) (2023.11.17)
Requirement already satisfied: httpcore==1.* in c:\users\suhaa\anaconda3\lib\site-packages (from httpx<0.29,>=0.27->ollama<1,>=0.4.4->langchain-ollama) (1.0.7)
Requirement already satisfied: idna in c:\users\suhaa\anaconda3\lib\site-packages (from httpx<0.29,>=0.27->ollama<1,>=0.4.4->langchain-ollama) (3.4)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\suhaa\anaconda3\lib\site-packages (from httpcore==1.*->httpx<0.29,>=0.27->ollama<1,>=0.4.4->langchain-ollama) (0.14.0)
Requirement already satisfied: jsonpointer>=1.9 in c:\users\suhaa\anaconda3\lib\site-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.4.0,>=0.3.33->langchain-ollama) (2.1)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in c:\users\suhaa\anaconda3\lib\site-packages (from langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-ollama) (3.10.15)
Requirement already satisfied: requests<3,>=2 in c:\users\suhaa\anaconda3\lib\site-packages (from langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-ollama) (2.31.0)
Requirement already satisfied: requests-toolbelt<2.0.0,>=1.0.0 in c:\users\suhaa\anaconda3\lib\site-packages (from langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-ollama) (1.0.0)
Requirement already satisfied: zstandard<0.24.0,>=0.23.0 in c:\users\suhaa\anaconda3\lib\site-packages (from langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-ollama) (0.23.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\suhaa\anaconda3\lib\site-packages (from pydantic<3.0.0,>=2.5.2->langchain-core<0.4.0,>=0.3.33->langchain-ollama) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in c:\users\suhaa\anaconda3\lib\site-packages (from pydantic<3.0.0,>=2.5.2->langchain-core<0.4.0,>=0.3.33->langchain-ollama) (2.27.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\suhaa\anaconda3\lib\site-packages (from requests<3,>=2->langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-ollama) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\suhaa\anaconda3\lib\site-packages (from requests<3,>=2->langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-ollama) (1.26.16)
Requirement already satisfied: sniffio>=1.1 in c:\users\suhaa\anaconda3\lib\site-packages (from anyio->httpx<0.29,>=0.27->ollama<1,>=0.4.4->langchain-ollama) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from langchain_community.llms import OllamaLLM

In [6]:
llm = Ollama(model="llama3")
llm.invoke("The first man on the moon was ...")

NameError: name 'Ollama' is not defined

In [7]:
from langchain_ollama import OllamaLLM

llm = OllamaLLM(model="llama3")
response = llm.invoke("The second man on the moon was ...")
print(response)

Actually, there wasn't a "second man" on the moon. The first humans to walk on the moon were Neil Armstrong and Edwin "Buzz" Aldrin, who landed on July 20, 1969 as part of the Apollo 11 mission.

Armstrong stepped out of the lunar module Eagle and became the first person to set foot on the moon's surface. Aldrin joined him a few minutes later, and together they spent about two and a half hours exploring the moon's surface.

While there have been several manned missions to the moon since Apollo 11, no one else has walked on the moon yet. However, NASA plans to return humans to the moon by 2024 as part of its Artemis program, with the goal of establishing a sustainable presence on the lunar surface and eventually sending humans to Mars.

In [8]:
llm.invoke("Can you add an appropriate category next to each of the following expenses. Respond with a list of categories separated by commas. For example, Spotify AB by Adyen - \
Entertainment, Beta Boulders Ams Amsterdam Nld - Sports, etc.: \
Taxi Utrecht, Ministerie van Justitie en Veiligheid, Etos AMSTERDAM NLD, Bistro Bar Amsterdam")

'Here is the list with categories added:\n\nTaxi Utrecht - Transportation, Ministerie van Justitie en Veiligheid - Taxes, Etos AMSTERDAM NLD - Shopping, Bistro Bar Amsterdam - Dining'

### Read transaction data

In [9]:
# Read the transactions_2022_2023_r.csv file 
import pandas as pd
df = pd.read_csv("transactions_2022_2023_r.csv")
df.head()

        Date Expense/Income Name / Description  Amount (EUR)
0   1/1/2022        Expense    Online Shopping        241.86
1   1/3/2022         Income      Bonus Payment       2979.06
2   1/4/2022        Expense         Dining Out        699.41
3   1/7/2022        Expense  Insurance Payment        898.56
4  1/10/2022        Expense     Gym Membership        568.77

In [10]:
# Get unique transactions in the Name / Description column
unique_transactions = df["Name / Description"].unique()
len(unique_transactions)

29

In [11]:
unique_transactions[1:10]

array(['Bonus Payment', 'Dining Out', 'Insurance Payment',
       'Gym Membership', 'Stock Dividends', 'Entertainment', 'Tax Refund',
       'Coffee Shop', 'Electricity Bill'], dtype=object)

### Categorise bank transactions with Llama3

In [12]:
# Get index list
#https://stackoverflow.com/questions/47518609/for-loop-range-and-interval-how-to-include-last-step
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop

index_list = list(hop(0, len(unique_transactions), 30))
index_list

[0, 29]

In [13]:
def categorize_transactions(transaction_names, llm):
    response = llm.invoke("Can you add an appropriate category to the following expenses. For example: Spotify AB by Adyen - Entertainment, Beta Boulders Ams Amsterdam Nld - Sport, etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')

    print(response)

    # Put in dataframe
    categories_df = pd.DataFrame({'Transaction vs category': response})
    categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
    
    return categories_df

In [14]:
# Test out the function
categorize_transactions('ISS Catering Services De Meern, Taxi Utrecht, Etos AMSTERDAM NLD, Bistro Bar Amsterdam',
                        llm)

["Based on the expense names, I've added a category for each one:", '', '1. ISS Catering Services De Meern - Food', '2. Taxi Utrecht - Transportation', '3. Etos AMSTERDAM NLD - Shopping', '4. Bistro Bar Amsterdam - Entertainment']

,Transaction vs category,Transaction,Category
0,"Based on the expense names, I've added a categ...","Based on the expense names, I've added a categ...",None
1,,,None
2,1. ISS Catering Services De Meern - Food,1. ISS Catering Services De Meern,Food
3,2. Taxi Utrecht - Transportation,2. Taxi Utrecht,Transportation
4,3. Etos AMSTERDAM NLD - Shopping,3. Etos AMSTERDAM NLD,Shopping
5,4. Bistro Bar Amsterdam - Entertainment,4. Bistro Bar Amsterdam,Entertainment

In [15]:
# Intialise the categories_df_all dataframe
categories_df_all = pd.DataFrame()

# Loop through the index_list
for i in range(0, len(index_list)-1):
    transaction_names = unique_transactions[index_list[i]:index_list[i+1]]
    transaction_names = ','.join(transaction_names)

    categories_df = categorize_transactions(transaction_names, llm)
    categories_df_all = pd.concat([categories_df_all, categories_df], ignore_index=True)

['Here are the categorized expenses with categories less than 4 words:', '', '1. Spotify AB by Adyen - Entertainment', '2. Beta Boulders Ams Amsterdam Nld - Sport', '3. Online Shopping - Retail', '4. Bonus Payment - Income', '5. Dining Out - Food', '6. Insurance Payment - Insurance', '7. Gym Membership - Fitness', '8. Stock Dividends - Investment', '9. Entertainment - Leisure', '10. Tax Refund - Taxes', '11. Coffee Shop - Food', '12. Electricity Bill - Utilities', '13. Side Business Earnings - Income', '14. Gift Received - Gifts', '15. Water Bill - Utilities', '16. Rent Payment - Rent', '17. Travel Expenses - Travel', '18. Investment Returns - Investment', '19. Entertainment - Leisure', '20. Grocery Shopping - Retail', '21. Selling Paintings - Art', '22. Clothing Purchase - Retail', '23. Real Estate Rental Income - Property', '24. Phone Bill - Utilities', '25. Public Transport Ticket - Transit', '26. Medical Expenses - Health', '27. Scholarship - Education', '28. Streaming Service Subscription - Entertainment', '29. Internet Subscription - Utility', '30. Car Maintenance - Auto', '31. Freelance Work - Income', '32. Salary - Income', '', "Let me know if you'd like me to adjust any categories!"]

In [16]:
categories_df_all

,Transaction vs category,Transaction,Category
0,Here are the categorized expenses with categor...,Here are the categorized expenses with categor...,None
1,,,None
2,1. Spotify AB by Adyen - Entertainment,1. Spotify AB by Adyen,Entertainment
3,2. Beta Boulders Ams Amsterdam Nld - Sport,2. Beta Boulders Ams Amsterdam Nld,Sport
4,3. Online Shopping - Retail,3. Online Shopping,Retail
5,4. Bonus Payment - Income,4. Bonus Payment,Income
6,5. Dining Out - Food,5. Dining Out,Food
7,6. Insurance Payment - Insurance,6. Insurance Payment,Insurance
8,7. Gym Membership - Fitness,7. Gym Membership,Fitness
9,8. Stock Dividends - Investment,8. Stock Dividends,Investment
10,9. Entertainment - Leisure,9. Entertainment,Leisure
11,10. Tax Refund - Taxes,10. Tax Refund,Taxes
12,11. Coffee Shop - Food,11. Coffee Shop,Food
13,12. Electricity Bill - Utilities,12. Electricity Bill,Utilities
14,13. Side Business Earnings - Income,13. Side Business Earnings,Income
15,14. Gift Received - Gifts,14. Gift Received,Gifts
16,15. Water Bill - Utilities,15. Water Bill,Utilities
17,16. Rent Payment - Rent,16. Rent Payment,Rent
18,17. Travel Expenses - Travel,17. Travel Expenses,Travel
19,18. Investment Returns - Investment,18. Investment Returns,Investment
20,19. Entertainment - Leisure,19. Entertainment,Leisure
21,20. Grocery Shopping - Retail,20. Grocery Shopping,Retail
22,21. Selling Paintings - Art,21. Selling Paintings,Art
23,22. Clothing Purchase - Retail,22. Clothing Purchase,Retail
24,23. Real Estate Rental Income - Property,23. Real Estate Rental Income,Property
25,24. Phone Bill - Utilities,24. Phone Bill,Utilities
26,25. Public Transport Ticket - Transit,25. Public Transport Ticket,Transit
27,26. Medical Expenses - Health,26. Medical Expenses,Health
28,27. Scholarship - Education,27. Scholarship,Education
29,28. Streaming Service Subscription - Entertain...,28. Streaming Service Subscription,Entertainment
30,29. Internet Subscription - Utility,29. Internet Subscription,Utility
31,30. Car Maintenance - Auto,30. Car Maintenance,Auto
32,31. Freelance Work - Income,31. Freelance Work,Income
33,32. Salary - Income,32. Salary,Income
34,,,None
35,Let me know if you'd like me to adjust any cat...,Let me know if you'd like me to adjust any cat...,None

In [50]:
# categories_df_all.to_csv("categories_df_all.csv", index=False)

In [17]:
# Get unique categories in categories_df_all
unique_categories = categories_df_all["Category"].unique()
unique_categories

array([None, 'Entertainment', 'Sport', 'Retail', 'Income', 'Food',
       'Insurance', 'Fitness', 'Investment', 'Leisure', 'Taxes',
       'Utilities', 'Gifts', 'Rent', 'Travel', 'Art', 'Property',
       'Transit', 'Health', 'Education', 'Utility', 'Auto'], dtype=object)

In [18]:
# Drop NA values
categories_df_all = categories_df_all.dropna()

# If category contains "Food", then categorise as "Food and Drinks"
categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
# If category contains "Clothing", then categorise as "Clothing"
categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
# If category contains "Services", then categorise as "Services"
categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
# If category contains "Health" or "Wellness", then categorise as "Health and Wellness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
# If category contains "Sport", then categorise as "Sport
#  and Fitness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
# If category contains "Travel", then categorise as "Travel"
categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

In [19]:
categories_df_all

,Transaction vs category,Transaction,Category
2,1. Spotify AB by Adyen - Entertainment,1. Spotify AB by Adyen,Entertainment
3,2. Beta Boulders Ams Amsterdam Nld - Sport,2. Beta Boulders Ams Amsterdam Nld,Sport and Fitness
4,3. Online Shopping - Retail,3. Online Shopping,Retail
5,4. Bonus Payment - Income,4. Bonus Payment,Income
6,5. Dining Out - Food,5. Dining Out,Food and Drinks
7,6. Insurance Payment - Insurance,6. Insurance Payment,Insurance
8,7. Gym Membership - Fitness,7. Gym Membership,Fitness
9,8. Stock Dividends - Investment,8. Stock Dividends,Investment
10,9. Entertainment - Leisure,9. Entertainment,Leisure
11,10. Tax Refund - Taxes,10. Tax Refund,Taxes
12,11. Coffee Shop - Food,11. Coffee Shop,Food and Drinks
13,12. Electricity Bill - Utilities,12. Electricity Bill,Utilities
14,13. Side Business Earnings - Income,13. Side Business Earnings,Income
15,14. Gift Received - Gifts,14. Gift Received,Gifts
16,15. Water Bill - Utilities,15. Water Bill,Utilities
17,16. Rent Payment - Rent,16. Rent Payment,Rent
18,17. Travel Expenses - Travel,17. Travel Expenses,Travel
19,18. Investment Returns - Investment,18. Investment Returns,Investment
20,19. Entertainment - Leisure,19. Entertainment,Leisure
21,20. Grocery Shopping - Retail,20. Grocery Shopping,Retail
22,21. Selling Paintings - Art,21. Selling Paintings,Art
23,22. Clothing Purchase - Retail,22. Clothing Purchase,Retail
24,23. Real Estate Rental Income - Property,23. Real Estate Rental Income,Property
25,24. Phone Bill - Utilities,24. Phone Bill,Utilities
26,25. Public Transport Ticket - Transit,25. Public Transport Ticket,Transit
27,26. Medical Expenses - Health,26. Medical Expenses,Health and Wellness
28,27. Scholarship - Education,27. Scholarship,Education
29,28. Streaming Service Subscription - Entertain...,28. Streaming Service Subscription,Entertainment
30,29. Internet Subscription - Utility,29. Internet Subscription,Utility
31,30. Car Maintenance - Auto,30. Car Maintenance,Auto
32,31. Freelance Work - Income,31. Freelance Work,Income
33,32. Salary - Income,32. Salary,Income

In [20]:
# Remove the numbering eg "1. " from Transaction column
categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '', regex=True)
categories_df_all

C:\Users\suhaa\AppData\Local\Temp\ipykernel_29344\3959838756.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '', regex=True)

,Transaction vs category,Transaction,Category
2,1. Spotify AB by Adyen - Entertainment,Spotify AB by Adyen,Entertainment
3,2. Beta Boulders Ams Amsterdam Nld - Sport,Beta Boulders Ams Amsterdam Nld,Sport and Fitness
4,3. Online Shopping - Retail,Online Shopping,Retail
5,4. Bonus Payment - Income,Bonus Payment,Income
6,5. Dining Out - Food,Dining Out,Food and Drinks
7,6. Insurance Payment - Insurance,Insurance Payment,Insurance
8,7. Gym Membership - Fitness,Gym Membership,Fitness
9,8. Stock Dividends - Investment,Stock Dividends,Investment
10,9. Entertainment - Leisure,Entertainment,Leisure
11,10. Tax Refund - Taxes,Tax Refund,Taxes
12,11. Coffee Shop - Food,Coffee Shop,Food and Drinks
13,12. Electricity Bill - Utilities,Electricity Bill,Utilities
14,13. Side Business Earnings - Income,Side Business Earnings,Income
15,14. Gift Received - Gifts,Gift Received,Gifts
16,15. Water Bill - Utilities,Water Bill,Utilities
17,16. Rent Payment - Rent,Rent Payment,Rent
18,17. Travel Expenses - Travel,Travel Expenses,Travel
19,18. Investment Returns - Investment,Investment Returns,Investment
20,19. Entertainment - Leisure,Entertainment,Leisure
21,20. Grocery Shopping - Retail,Grocery Shopping,Retail
22,21. Selling Paintings - Art,Selling Paintings,Art
23,22. Clothing Purchase - Retail,Clothing Purchase,Retail
24,23. Real Estate Rental Income - Property,Real Estate Rental Income,Property
25,24. Phone Bill - Utilities,Phone Bill,Utilities
26,25. Public Transport Ticket - Transit,Public Transport Ticket,Transit
27,26. Medical Expenses - Health,Medical Expenses,Health and Wellness
28,27. Scholarship - Education,Scholarship,Education
29,28. Streaming Service Subscription - Entertain...,Streaming Service Subscription,Entertainment
30,29. Internet Subscription - Utility,Internet Subscription,Utility
31,30. Car Maintenance - Auto,Car Maintenance,Auto
32,31. Freelance Work - Income,Freelance Work,Income
33,32. Salary - Income,Salary,Income

In [21]:
# Merge the categories_df_all with the transactions_2022_2023.csv dataframe (df)
df = pd.read_csv("transactions_2022_2023_r.csv")
df.loc[df['Name / Description'].str.contains("Spotify"), 'Name / Description'] = "Spotify Ab By Adyen"
df = pd.merge(df, categories_df_all, left_on='Name / Description', right_on='Transaction', how='left')
df

,Date,Expense/Income,Name / Description,Amount (EUR),Transaction vs category,Transaction,Category
0,1/1/2022,Expense,Online Shopping,241.86,3. Online Shopping - Retail,Online Shopping,Retail
1,1/3/2022,Income,Bonus Payment,2979.06,4. Bonus Payment - Income,Bonus Payment,Income
2,1/4/2022,Expense,Dining Out,699.41,5. Dining Out - Food,Dining Out,Food and Drinks
3,1/7/2022,Expense,Insurance Payment,898.56,6. Insurance Payment - Insurance,Insurance Payment,Insurance
4,1/10/2022,Expense,Gym Membership,568.77,7. Gym Membership - Fitness,Gym Membership,Fitness
...,...,...,...,...,...,...,...
309,12/26/2023,Expense,Clothing Purchase,207.26,22. Clothing Purchase - Retail,Clothing Purchase,Retail
310,12/27/2023,Expense,Dining Out,260.54,5. Dining Out - Food,Dining Out,Food and Drinks
311,12/29/2023,Expense,Streaming Service Subscription,862.08,28. Streaming Service Subscription - Entertain...,Streaming Service Subscription,Entertainment
312,12/29/2023,Expense,Clothing Purchase,769.78,22. Clothing Purchase - Retail,Clothing Purchase,Retail
313,12/30/2023,Expense,Medical Expenses,594.12,26. Medical Expenses - Health,Medical Expenses,Health and Wellness

In [34]:
df.to_csv("transactions_2022_2023_categorized.csv", index=False)